* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styles Carrousel y nav */

.navbar{
    background-color: #e0e0e0;
}

.nav-link{
    color: #8e24aa;
}

.img-logo{
    width: 180px;
    height: 100px;
}

.img-carrusel{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 0% 40%;
}

/* Styles farmacia, juguetes y carrito */

.main-container{
    width: 90%;
}

.card{
    width: 24em;
    height: 47em;
    border: 2px solid rgba(0,0,0,1);
    border-radius: 0 2em;
}

.card-img-top{
    border-radius: 0 2em 0 0;
    height: 350px;
    object-fit: cover;
}

.ultUnidades{
    width: 60%;
    padding: .5em;
    border-radius: .3em;
    font-weight: bold;
    background-color: red;
    color: white;
}

.ultimaUnidad{
    width: 46%;
}

.unidades{
    width: 50%;
    padding: .5em;
    border-radius: .3em;
    font-weight: bold;
    background-color: green;
    color: white;
}

/* Styles footer */

.footer-container {
    background-color: rgb(188, 186, 186);
}

.redes-img {
    width: 2em;
}

.logo-footer{
    width: 12em;
}

/*contacto*/
.main-contact {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}
#formUbication {
    width: 800px;
    align-self: center;
}
.uwu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#username {
    width: 390px;
}
#textArea {
    margin-top: 10px;
}
.h2-contact {
    text-align: center;
}
.map {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
#checks {
    display: flex;
    justify-content: space-around;
}
#button {
    padding-top: 15px;
}